footer {
    margin-top: 1rem;
    gap: 2rem;
    width: 100%;

   

    .color1 {
        color: white;
        font-size: 1rem;
    }
}
.logo-footer {
    width: 6rem;
}

.social {
    font-size: 1.5rem;

    .s-instagram {
        color: red;
    }

    .s-whatsapp {
        color: rgb(20, 255, 8);
    }

    .s-facebook {
        color: blue;
    }
}