.logo {
    width: 3rem;
}

.video-contenedor {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0;
    
}
.video {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
}
.card-videos {
    background-color: white;
}

.mapa {
    width: 100%;
    height: 500px;
 
}
iframe {
    width: 100%;
    height: 100%;
}



